@import "src/styles";

.button {
  padding: 5px 15px;
  background-color: $color-button-primary;
  color: $color-text-secondary;
  border: none;
  border-radius: 5px;
  @include text(12px, 14px);
  box-shadow: 0 .5rem 1rem rgba(143, 142, 142, 0.15);

  &:disabled {
    background-color: $color-button-disabled;
  }

  &:hover {
    opacity: 0.8;
  }
}

.button__edit {
  background-color: $color-button-secondary;
}