$color-background-primary: #FFFFFF;
$color-background-secondary: #BDBDBD;
$color-background-tertiary: #F3F3F3;

$color-text-primary: #000000;
$color-text-secondary: #FFFFFF;
$color-text-tertiary: #A3A3A3;

$color-border: #D8D8D8;
$color-error: #D91313;

$color-button-primary: #4B51EF;
$color-button-secondary: #52CF4F;
$color-button-disabled: #AFAFAF;
