$color-background-primary: #FFFFFF;
$color-background-secondary: #BDBDBD;

$color-text-primary:  #000000;
$color-text-secondary:  #FFFFFF;

$color-border: #D8D8D8;
$color-error: #D91313;

$color-button-primary: #4B51EF;
$color-button-secondary: #52CF4F;
$color-button-disabled: #AFAFAF;
