@import "src/styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  background-color: $color-background-primary;
  color: $color-text-primary;
}