@import "src/styles";

.form {
  width: 438px;
}

.wrapper__form {
  padding: 20px 6px 20px 12px;
  border-radius: 8px;
  border: solid 1px $color-border;
  margin-bottom: 10px;
}

.wrapper__submit {
  display: flex;
  justify-content: space-between;
}

