@import "src/styles";

.wrapper {
margin: 13px 0 0 36px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  @include text(14px, 16px, 700);
}

